In [1]:
import sys
import pandas as pd
sys.path.append('../src')
from data_loader import get_coffee_sales_df

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.12), please consider upgrading to the latest version (0.3.13).
Path to dataset files: /Users/ryangael/.cache/kagglehub/datasets/ihelon/coffee-sales/versions/21

In [2]:
df = get_coffee_sales_df()

In [ ]:
# Add month and year columns from the date column
df['month'] = pd.to_datetime(df['date']).dt.month
df['year'] = pd.to_datetime(df['date']).dt.year

# Display the first few rows to verify the new columns
# print("DataFrame with new month and year columns:")
#print(df[['date', 'month', 'year']].head(10))

# Show the unique months and years in the dataset 

# print("\nUnique months in the dataset:")
#print(sorted(df['month'].unique()))

#print("\nUnique years in the dataset:")
#print(sorted(df['year'].unique()))

DataFrame with new month and year columns:
         date  month  year
0  2025-02-08      2  2025
1  2025-02-08      2  2025
2  2025-02-08      2  2025
3  2025-02-08      2  2025
4  2025-02-08      2  2025
5  2025-02-08      2  2025
6  2025-02-08      2  2025
7  2025-02-08      2  2025
8  2025-02-09      2  2025
9  2025-02-09      2  2025

Unique months in the dataset:
[np.int32(2), np.int32(3)]

Unique years in the dataset:
[np.int32(2025)]

In [10]:
# Totals by coffee_name and month for 2025

monthly_totals = (
    df.loc[df['year'] == 2025]
    .groupby(['coffee_name', 'month'], as_index=False)['money']
    .sum()
    .rename(columns={'money': 'total_money'})
)

# Wide format: months as columns for easier viewing
monthly_pivot = (
    monthly_totals
    .pivot(index='coffee_name', columns='month', values='total_money')
    .fillna(0)
    .sort_index(axis=1)
)

# View results
display(monthly_totals.sort_values(['coffee_name', 'month']))
display(monthly_pivot)

                   coffee_name  month  total_money
0                    Americano      2        175.0
1                    Americano      3        200.0
2          Americano with milk      2        600.0
3          Americano with milk      3        500.0
4                   Cappuccino      2        270.0
5                   Cappuccino      3        210.0
6                      Caramel      3         22.0
7               Caramel coffee      2         28.0
8               Caramel coffee      3         28.0
9   Caramel with Irish whiskey      2        140.0
10  Caramel with Irish whiskey      3         84.0
11      Caramel with chocolate      2         84.0
12      Caramel with chocolate      3         28.0
13           Caramel with milk      2         50.0
14           Caramel with milk      3         25.0
15                   Chocolate      2         25.0
16       Chocolate with coffee      2         60.0
17       Chocolate with coffee      3         90.0
18         Chocolate with milk      2        108.0
19         Chocolate with milk      3        216.0
20   Coffee with Irish whiskey      2        261.0
21   Coffee with Irish whiskey      3        203.0
22       Coffee with chocolate      3         28.0
23        Double Irish whiskey      2        252.0
24        Double Irish whiskey      3         84.0
25            Double chocolate      3         25.0
26             Double espresso      2         27.0
27   Double espresso with milk      2         64.0
28            Double ristretto      3         27.0
29              Double vanilla      2         47.0
30                    Espresso      2        293.0
31                    Espresso      3         80.0
32               Hot milkshake      3         30.0
33               Irish whiskey      2        100.0
34               Irish whiskey      3        425.0
35     Irish whiskey with milk      2        108.0
36     Irish whiskey with milk      3        297.0
37        Irish with chocolate      3        135.0
38                       Latte      2        528.0
39                       Latte      3        264.0
40                  Mochaccino      2         90.0
41                  Mochaccino      3         60.0
42             Super chocolate      2         56.0
43             Super chocolate      3        112.0
44                         Tea      2        195.0
45                         Tea      3         45.0
46              Vanilla coffee      3         27.0
47  Vanilla with Irish whiskey      2         28.0
48  Vanilla with Irish whiskey      3         56.0

month                           2      3
coffee_name
Americano                   175.0  200.0
Americano with milk         600.0  500.0
Cappuccino                  270.0  210.0
Caramel                       0.0   22.0
Caramel coffee               28.0   28.0
Caramel with Irish whiskey  140.0   84.0
Caramel with chocolate       84.0   28.0
Caramel with milk            50.0   25.0
Chocolate                    25.0    0.0
Chocolate with coffee        60.0   90.0
Chocolate with milk         108.0  216.0
Coffee with Irish whiskey   261.0  203.0
Coffee with chocolate         0.0   28.0
Double Irish whiskey        252.0   84.0
Double chocolate              0.0   25.0
Double espresso              27.0    0.0
Double espresso with milk    64.0    0.0
Double ristretto              0.0   27.0
Double vanilla               47.0    0.0
Espresso                    293.0   80.0
Hot milkshake                 0.0   30.0
Irish whiskey               100.0  425.0
Irish whiskey with milk     108.0  297.0
Irish with chocolate          0.0  135.0
Latte                       528.0  264.0
Mochaccino                   90.0   60.0
Super chocolate              56.0  112.0
Tea                         195.0   45.0
Vanilla coffee                0.0   27.0
Vanilla with Irish whiskey   28.0   56.0